:root {
  --lightGray: hsl(0, 0%, 81%);
  --lightGrayisBlue: hsl(210, 46%, 95%);
  --moderateViolet: hsl(263, 55%, 52%);
  --veryDarkGrayishBlue: hsl(217, 19%, 35%);
  --veryDarkBlackishBlue: hsl(219, 29%, 14%);
  --fullWhite: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:where(body, html) {
  background: var(--lightGrayisBlue);
  height: 100%;
  float: left;
  font-size: 13px;
  width: 100%;
}

main {
  display: grid;
  height: 100%;
  place-items: center;
  min-height: 100vh;
  width: 100%;
}
main .main__container {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 1240px;
  padding: 60px 30px;
  row-gap: 30px;
}

/* * 0. Testimonial card
 * */
.main__columnsTestimonials {
  -moz-column-gap: 30px;
       column-gap: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.main__columnsTestimonials .main__leftTestimonials {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.main__columnsTestimonials .main__leftTestimonials .main__firstRowTestimonials,
.main__columnsTestimonials .main__leftTestimonials .main__secondRowTestionials {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.main__testimonialCardContainer {
  border-radius: 8px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 24px 30px 34px;
  row-gap: 16px;
  width: 100%;
}
.main__testimonialCardContainer.main__testimonialCardContainer--violet {
  background-color: var(--moderateViolet);
}
.main__testimonialCardContainer.main__testimonialCardContainer--darkGrayishBlue {
  background-color: var(--veryDarkGrayishBlue);
}
.main__testimonialCardContainer.main__testimonialCardContainer--fullWhite {
  background-color: var(--fullWhite);
  color: var(--veryDarkBlackishBlue);
}
.main__testimonialCardContainer.main__testimonialCardContainer--darkBlackishBlue {
  background-color: var(--veryDarkBlackishBlue);
}
.main__testimonialCardContainer.main__testimonialCardContainer--quoted {
  background-image: url("/images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 30px;
}
.main__testimonialCardContainer .testimonialCardContainer__cardTestimonial {
  align-items: center;
  display: flex;
  width: 100%;
}
.main__testimonialCardContainer .testimonialCardContainer__cardTestimonial img {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}
.main__testimonialCardContainer .testimonialCardContainer__cardTestimonial .testimonialCardContainer__testimonialInfo {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  row-gap: 2px;
}
.main__testimonialCardContainer .testimonialCardContainer__cardTestimonial .testimonialCardContainer__testimonialInfo p {
  opacity: 1;
}
.main__testimonialCardContainer .testimonialCardContainer__cardTestimonial .testimonialCardContainer__testimonialInfo span {
  opacity: 0.5;
}
.main__testimonialCardContainer h3 {
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;
}
.main__testimonialCardContainer p {
  opacity: 0.5;
  font-size: 15px;
  line-height: 20px;
}

@media (min-width: 640px) {
  .main__columnsTestimonials .main__leftTestimonials {
    -moz-column-gap: 30px;
         column-gap: 30px;
    flex-direction: row;
    order: 2;
  }
}
@media (min-width: 1024px) {
  .main__columnsTestimonials {
    flex-direction: row;
  }
  .main__columnsTestimonials .main__leftTestimonials {
    flex: 0 0 70%;
    flex-direction: column;
    order: unset;
    row-gap: 24px;
  }
  .main__columnsTestimonials .main__leftTestimonials .main__firstRowTestimonials {
    -moz-column-gap: 30px;
         column-gap: 30px;
    flex-direction: row;
  }
  .main__columnsTestimonials .main__leftTestimonials .main__firstRowTestimonials .main__testimonialCardContainer {
    width: 33%;
  }
  .main__columnsTestimonials .main__leftTestimonials .main__firstRowTestimonials .main__testimonialCardContainer:first-child {
    width: 66%;
  }
  .main__columnsTestimonials .main__leftTestimonials .main__secondRowTestionials {
    -moz-column-gap: 30px;
         column-gap: 30px;
    flex-direction: row;
  }
  .main__columnsTestimonials .main__leftTestimonials .main__secondRowTestionials .main__testimonialCardContainer {
    width: 66%;
  }
  .main__columnsTestimonials .main__leftTestimonials .main__secondRowTestionials .main__testimonialCardContainer:first-child {
    width: 33%;
  }
}/*# sourceMappingURL=globals.css.map */